body{
    background-image: url('./../images/background.jpg');
    background-size: 100%;
}

#About{
    margin: 2%;
    line-height: 2rem;
    background-color: whitesmoke;
    padding-left: 2%;
    margin-left: 8%;
    }

.h1{
    color: teal;
}

#contact{
    background-color: whitesmoke;
    color: teal;
}

#name{
    color: white;
    background-color: teal;
    font-size: 25px;
    text-align: center;
}

  .card-img{
      height: 30%;
      width: 30%;
  }

  #projects{
      background-color: whitesmoke;
      padding: 2%;
  }